.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  text-align: center;
}

.item p {
  color: #3a3a3a;
  text-align: center;
}

.item img {
  width: 100%;
}

.price {
  margin: auto;
  border-radius: 20px;
  padding: 0.15rem 1.5rem;
  text-align: center;
  background-color: #3a3a3a;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}